@using WebDoAn.Models;
@model IEnumerable<WebDoAn.Models.SanPham>
@{
    ViewBag.Title = "QuanLySanPham";
    Layout = "~/Views/Layout/AdminLayoutNVQLK.cshtml";
}
<h1 style="margin-top:3%">Quản lý thông tin sản phẩm</h1>
<p>
    @Html.ActionLink("Thêm mới", "ThemMoi1", "QuanLySanPham", new { @class = "btn btn-success" })
</p>
@using (Html.BeginForm("KQTimKiem_SP_Admin","TimKiem"))
{
    <p>
        <input type="text" name="tkTen" placeholder="Nhập từ khóa" style="width:300px; outline:none !important" />
        <input type="submit" value="Tìm kiếm" style="outline:none !important;margin-left:-8%" />
    </p>
}
<table>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Đơn giá</th>
            <th>Tên LSP</th>
            <th>Tên NCC</th>
            <th>Tên NSX</th>
            <th>Tác vụ</th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td> @Html.DisplayFor(modelItem => item.TenSP)</td>
                <td><img src="@Url.Content("~/Content/HinhAnhSP/" + item.HinhAnh)" style="height: 50px;width: 50px;" /></td>
                <td> @string.Format("{0:0,0}", item.DonGia)</td>
                <td> @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoai)</td>
                <td> @Html.DisplayFor(modelItem => item.NhaCungCap.TenNCC)</td>
                <td> @Html.DisplayFor(modelItem => item.NhaSanXuat.TenNSX) </td>
                <td>
                    <a href="@Url.Action("XemSP","QuanLySanPham",new {id=item.MaSP})"><input type="button" value="Xem" class="btn btn-success" /> </a>
                    <a href="@Url.Action("SuaSP","QuanLySanPham",new {id=item.MaSP})"><input type="button" value="Sửa" class="btn btn-success" /> </a>
                    <a href="@Url.Action("XoaSP","QuanLySanPham",new {id=item.MaSP})"><input type="button" value="Xóa" class="btn btn-success" /> </a>
                </td>
            </tr>
        }
</table>




