@using WebDoAn.Models;
@model IEnumerable<SanPham>


<header class="header-style fixed-top" style="z-index:10000">
    <div class="container-fluid">
        <div class="header d-lg-flex justify-content-between align-items-center">
            <!-- logo -->
            <h1 class="logo text-center"style="margin-left:-2%!important">
                <a href="@Url.Action("HomeIndex", "Home")">
                    Plants<i class="fa fa-pagelines" aria-hidden="true"></i>
                </a>
            </h1>
            <!-- //logo -->
            <!-- nav -->
            <div class="nav_w3ls">
                <nav>
                    <label for="drop" class="toggle toogle-2">Menu</label>
                    <input type="checkbox" id="drop">
                    <ul class="menu">
                        <li class="active ml-0"><a href="@Url.Action("HomeIndex", "Home")">Trang chủ</a></li>
                        <li><a href="@Url.Action("GioiThieu", "CacThanhPhanKhac")">Giới thiệu về chúng tôi</a></li>
                        <li style="z-index:1000!important">
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle toggle-drop">
                                Các chính sách <span class="fa fa-angle-down" aria-hidden="true"></span>
                            </label>
                            <a href="#"> Các chính sách <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2" />
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("BaoHanh", "CacThanhPhanKhac")" class="drop-text">Bảo hành</a></li>
                                <li><a href="@Url.Action("DoiTra", "CacThanhPhanKhac")" class="drop-text">Đổi trả hàng</a></li>
                                <li><a href="@Url.Action("GiaoHang", "CacThanhPhanKhac")" class="drop-text">Giao hàng</a></li>
                                <li><a href="@Url.Action("BaoMatKH", "CacThanhPhanKhac")" class="drop-text">Bảo mật thông tin</a></li>
                            </ul>
                        </li>  
                        <li>
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle toggle-drop">
                                Cách chăm sóc <span class="fa fa-angle-down" aria-hidden="true"></span>
                            </label>
                            <a href="#">Cách chăm sóc <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2" />
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("CCSCayVanPhong", "CacThanhPhanKhac")"class="drop-text">Cây văn phòng</a></li>
                                <li><a href="@Url.Action("CCSCayThuySinh", "CacThanhPhanKhac")"class="drop-text">Cây thủy sinh</a></li>
                                <li><a href="@Url.Action("CCSSenDaXuongRong", "CacThanhPhanKhac")"class="drop-text">Sen đá xương rồng</a></li>

                            </ul>
                        </li> 
                        <li><a href="@Url.Action("DichVu", "CacThanhPhanKhac")">Dịch vụ của chúng tôi</a></li>                       
                        <li><a href="@Url.Action("HomeDSSP","Home")">Danh sách sản phẩm</a></li>
                        <li class="mr-0"><a href="@Url.Action("LienHe", "CacThanhPhanKhac")">Liên hệ với chúng tôi</a></li>
                        <li><a href="@Url.Action("Login","Login1")">Quản lý thông tin</a></li>
                    </ul>
                </nav>
            </div>
            <!-- //nav -->
        </div>
    </div>
</header>




