@using WebDoAn.Models;
@model  IEnumerable<WebDoAn.Models.KhachHang>
@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<h2 style="text-align:center;color:red;margin-top:-5%"><b>Giỏ hàng</b></h2>
<hr />
@{
    if (Session["GioHang"] == null)
    {
        Session["GioHang"] = new List<ItemGioHang>();
    }
    List<ItemGioHang> ds = Session["GioHang"] as List<ItemGioHang>;
    if (ds.Count == 0)
    {
        <h1 style="text-align:center;margin-top:3%;font-size:200%;color:white">Không có sản phẩm nào trong giỏ hàng </h1>
    }
    else
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>MaSP</th>
                    <th>Tên sản phẩm</th>
                    <th>Hình ảnh</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th>Tác vụ</th>
                </tr>

            </thead>
            <tbody>
                @{
                    if (ds.Count != 0)
                    {
                        foreach (var item in ds)
                        {
                            using (Html.BeginForm("XemGioHang", "Home"))
                            {
                                <tr id="tr_@item.MaSP">
                                    <td>@item.MaSP</td>
                                    <td>@item.TenSP</td>
                                    <td><img src="@Url.Content("~/Content/HinhAnhSP/" + item.HinhAnh)" width="50" height="50" /></td>
                                    <td>@item.SoLuong</td>
                                    <td>@string.Format("{0:0 VNĐ}", item.DonGia)</td>
                                    <td>@string.Format("{0:0 VNĐ}", item.ThanhTien)</td>
                                    <th>
                                        <input onclick="Xoa('@item.MaSP')" type="button" value="Xóa" class="btn btn-success" />
                                    </th>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="5" style="text-align:right"><b>Tổng tiền:</b></td>
                            <td colspan="2" style="color:red">
                                @{
                                if (Session["GioHang"] == null)
                                {
                                    Session["GioHang"] = new List<ItemGioHang>();
                                }
                                int SL = 0;
                                decimal? ST = 0;
                                for (int i = 0; i < ds.Count; i++)
                                {
                                    SL = SL + ds[i].SoLuong;
                                    ST = ST + ds[i].SoLuong * ds[i].DonGia;
                                }
                                <b> @ST VNĐ </b>
                            }
                        </td>
                    </tr>
                   }
                }
            </tbody>
        </table>
       }
}
<br />
<hr />

<h2 style="text-align:center;color:red"><b>Thông tin khách hàng</b></h2>

@using (Html.BeginForm("DatHang", "GioHang"))
{
    <div class="row">
        <div class="col-md-1"><b>Họ tên:</b></div>
        <div class="col-sm-5">
            <input class="form-control" type="text" name="TenKH" placeholder="Tên người nhận">
        </div>
        <div class="col-md-1"><b>Địa chỉ:</b></div>
        <div class="col-sm-5">
            <input class="form-control" type="text" name="DiaChi" placeholder="Địa chỉ nhận hàng">
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-1"><b>Email:</b></div>
        <div class="col-sm-5">
            <input class="form-control" type="email" name="Email" placeholder="Email người nhận">
        </div>
        <div class="col-md-1"><b>Số điện thoại:</b></div>
        <div class="col-sm-5">
            <input class="form-control" type="number" name="SoDienThoai" placeholder="Số điện thoại người nhận" style="height:100%!important">
        </div>
    </div>
    <br />
    <hr />
    <div style="text-align:right">
        <input type="submit" class="btn btn-danger" value="Đặt hàng" />
        <a href="@Url.Action( "HomeDSSP", "Home")"><input type="button" value="MUA TIẾP" style="height:47px" class="btn btn-success" /> </a>
    </div>
}

<script>
    //Xóa thông tin san phẩm
    function Xoa(MaSP) {
        $.ajax({
            url: '@Url.Action("XoaGioHang", "GioHang")',
            type: 'Get',
            datatype: 'JSon',
            data: { MaSP: MaSP },
            success: function (data) {
                $('#tr_' + MaSP).remove();
                alert('Xóa Thành Công');
            }
        });
    }
</script>














