@model WebDoAn.Models.LoaiSanPham

@{
    ViewBag.Title = "ThemMoiLSP";
    Layout = "~/Views/Layout/AdminLayoutNVQLK.cshtml";
}

<h2 style="text-align:center;color:red"><b>Thêm loại sản phẩm</b></h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <hr />
        <div class="form-group">
            <div class="col-md-2" style="text-align:right"><b>Tên loại sản phẩm:</b></div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.TenLoai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenLoai, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2" style="text-align:right"><b>Icon:</b></div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.Icon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Icon, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2" style="text-align:right"><b>Bí danh:</b></div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.BiDanh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BiDanh, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <br/><br/><br/><br />
    <br /><br /><br />
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
